.leftbox{
    width: 20%;
    /* border-right: 1px solid black; */
    border: 1px solid red;
    height: 100%;
   padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    
}
.rightbox{
width: 80%;
height: 100%;
}
.outer{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}
.filter{
    border: 1px solid red;
    padding: 15px 15px;
}
.outer{
    margin: 0px 10px 0px 10px;
}